{% extends "bootstrap/base.html" %}
<!-- base.html模板继承自bootstrap/base.html -->
{% block title %}
    Flask
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-taget=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <sapn class="icon-bar"></sapn>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/">Flasky</a>
            </div>

            <div class="navbar=collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
        {% block pagecontent %}{% endblock %}
{% endblock %}